<h2>CS 4701 Project</h2>

<h3>College Recommender</h3>

Katelin Chan (ktc33) and Ein Chang (ec629)

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
# Convert CSV to dataframe for training and testing data.
def get_dataframes_from_files(pathTr, pathTe, debugging=False):
  dfTr = pd.read_csv(pathTr, sep=',', header=None, encoding='unicode_escape')
  dfTe = pd.read_csv(pathTe, sep=',', header=None, encoding='unicode_escape')
  if debugging:
    print("DATAFRAMES FROM CSV")
    print("Training DataFrame:")
    print(dfTr)
    print("Testing DataFrame:")
    print(dfTe)
    print()
  return dfTr, dfTe

# Filter dataframes. Drop the rows where at least one element is missing.
def filter_dataframes(dfTr, dfTe, debugging=False):
  dfTr = dfTr.dropna()
  dfTe = dfTe.dropna()
  if debugging:
    print("FILTER DATAFRAMES")
    print("Training DataFrame:")
    print(dfTr)
    print("Testing DataFrame:")
    print(dfTe)
    print("Shapes:")
    print("Training DataFrame shape: " + str(dfTr.shape))
    print("Testing DataFrame shape: " + str(dfTe.shape))
    print()
  return dfTr, dfTe

# Convert numerical values from string to float.
def update_column_types(data):
  # Loop through all data entries.
  for row in range(len(data)):
    for col in range(len(data[row])):
      try:
        # Update name where applicable.
        if type(data[row][col]) == str:
          data[row][col] = data[row][col].replace("&amp;", "and")
        # Update numerical data to float where applicable.
        data[row][col] = float(data[row][col])
      except ValueError:
        # Keep data that cannot be converted to float.
        pass
  return data

# Convert dataframes to numpy arrays.
def get_data_from_dataframes(dfTr, dfTe, debugging=False):
  # Convert dataframes to numpy, then convert types to float where needed.
  dataTr = update_column_types(pd.DataFrame(dfTr).to_numpy()[1:] )
  dataTe = update_column_types(pd.DataFrame(dfTe).to_numpy()[1:] )
  if debugging:
    print("INITIAL DATA")
    print("Training Data:")
    print(dataTr)
    print("Testing Data:")
    print(dataTe)
    print()
  return dataTr, dataTe

# Use helper functions from above to convert files directly to data lists.
def get_standardized_data_from_files(pathTr, pathTe, debugging=False):
  # Get dataframes from training and testing files.
  dfTr, dfTe = get_dataframes_from_files(pathTr, pathTe, debugging)
  # Update dataframes to remove missing values.
  dfTr, dfTe = filter_dataframes(dfTr, dfTe, debugging)
  # Get numpy array equivalent of data from dataframes.
  dataTr, dataTe = get_data_from_dataframes(dfTr, dfTe, debugging)

  return dataTr, dataTe

In [ ]:
# Toggle debugging to print out helpful information.
debugging = True

dataTr, dataTe = get_standardized_data_from_files("/content/ForbesAmericasTopColleges2019.csv", "/content/ForbesAmericasTopColleges2019.csv", debugging)

DATAFRAMES FROM CSV
Training DataFrame:
        0                                      1   ...         15                16
0     Rank                                   Name  ...  ACT Upper           Website
1      1.0                     Harvard University  ...       35.0   www.harvard.edu
2      2.0                    Stanford University  ...       35.0  www.stanford.edu
3      3.0                        Yale University  ...       35.0      www.yale.edu
4      4.0  Massachusetts Institute of Technology  ...       35.0       web.mit.edu
..     ...                                    ...  ...        ...               ...
646  646.0            New Mexico State University  ...       23.0      www.nmsu.edu
647  647.0               Indiana State University  ...       23.0  www.indstate.edu
648  648.0              Emory &amp; Henry College  ...       25.0       www.ehc.edu
649  649.0                          Wells College  ...        NaN     www.wells.edu
650  650.0                        Catawba College  ...       23.0   www.catawba.edu

[651 rows x 17 columns]
Testing DataFrame:
        0                                      1   ...         15                16
0     Rank                                   Name  ...  ACT Upper           Website
1      1.0                     Harvard University  ...       35.0   www.harvard.edu
2      2.0                    Stanford University  ...       35.0  www.stanford.edu
3      3.0                        Yale University  ...       35.0      www.yale.edu
4      4.0  Massachusetts Institute of Technology  ...       35.0       web.mit.edu
..     ...                                    ...  ...        ...               ...
646  646.0            New Mexico State University  ...       23.0      www.nmsu.edu
647  647.0               Indiana State University  ...       23.0  www.indstate.edu
648  648.0              Emory &amp; Henry College  ...       25.0       www.ehc.edu
649  649.0                          Wells College  ...        NaN     www.wells.edu
650  650.0                        Catawba College  ...       23.0   www.catawba.edu

[651 rows x 17 columns]

FILTER DATAFRAMES
Training DataFrame:
        0   ...                         16
0     Rank  ...                    Website
1      1.0  ...            www.harvard.edu
2      2.0  ...           www.stanford.edu
3      3.0  ...               www.yale.edu
4      4.0  ...                web.mit.edu
..     ...  ...                        ...
645  645.0  ...  https://www.morehouse.edu
646  646.0  ...               www.nmsu.edu
647  647.0  ...           www.indstate.edu
648  648.0  ...                www.ehc.edu
650  650.0  ...            www.catawba.edu

[524 rows x 17 columns]
Testing DataFrame:
        0   ...                         16
0     Rank  ...                    Website
1      1.0  ...            www.harvard.edu
2      2.0  ...           www.stanford.edu
3      3.0  ...               www.yale.edu
4      4.0  ...                web.mit.edu
..     ...  ...                        ...
645  645.0  ...  https://www.morehouse.edu
646  646.0  ...               www.nmsu.edu
647  647.0  ...           www.indstate.edu
648  648.0  ...                www.ehc.edu
650  650.0  ...            www.catawba.edu

[524 rows x 17 columns]
Shapes:
Training DataFrame shape: (524, 17)
Testing DataFrame shape: (524, 17)

INITIAL DATA
Training Data:
[[1.0 'Harvard University' 'Cambridge' ... 32.0 35.0 'www.harvard.edu']
 [2.0 'Stanford University' 'Stanford' ... 32.0 35.0 'www.stanford.edu']
 [3.0 'Yale University' 'New Haven' ... 32.0 35.0 'www.yale.edu']
 ...
 [647.0 'Indiana State University' 'Terre Haute' ... 17.0 23.0
  'www.indstate.edu']
 [648.0 'Emory and Henry College' 'Emory' ... 19.0 25.0 'www.ehc.edu']
 [650.0 'Catawba College' 'Salisbury' ... 18.0 23.0 'www.catawba.edu']]
Testing Data:
[[1.0 'Harvard University' 'Cambridge' ... 32.0 35.0 'www.harvard.edu']
 [2.0 'Stanford University' 'Stanford' ... 32.0 35.0 'www.stanford.edu']
 [3.0 'Yale University' 'New Haven' ... 32.0 35.0 'www.yale.edu']
 ...
 [647.0 'Indiana State University' 'Terre Haute' ... 17.0 23.0
  'www.indstate.edu']
 [648.0 'Emory and Henry College' 'Emory' ... 19.0 25.0 'www.ehc.edu']
 [650.0 'Catawba College' 'Salisbury' ... 18.0 23.0 'www.catawba.edu']]

In [ ]:
# pd.DataFrame(dataTe).to_csv("dataTr.csv")
pd.DataFrame(dataTe).to_csv("dataTe.csv")