In [5]:
import datetime
import pandas as pd
import numpy as np
from sklearn.metrics import jaccard_score
import operator

In [6]:
gradData = pd.read_csv('cleanedGradData.csv')
gradData

,Unnamed: 0,greV,greQ,greA,cgpa,univName
0,0,150.000000,166.000000,3.0,4.00,Ohio State University
1,1,157.000000,151.000000,5.5,3.57,Texas A&M University
2,2,155.000000,167.000000,4.0,3.66,"University Of California, Irvine"
3,3,161.000000,157.000000,4.0,3.10,Boston University
4,4,154.000000,170.000000,4.0,3.38,Oregon State University
...,...,...,...,...,...,...
24767,25803,130.000000,170.212766,4.0,3.99,University Of Chicago
24768,25804,130.000000,170.212766,3.0,3.69,Princeton University
24769,25805,130.000000,168.085106,3.5,3.30,Clemson University
24770,25806,130.000000,163.829787,4.0,3.30,University Of Chicago
24771,25807,131.914894,170.212766,4.5,3.86,University Of Chicago

In [ ]:
# greV - GRE Verbal Score
# greQ - GRE Quants Score
# gmatA - GMAT AWA Score
# cgpa - user's CGPA

# can look into other ones but lots of empty values

In [7]:
# print(gradData['greV'].min())
# print(gradData['greV'].max())

# print(gradData['greA'].min())
# print(gradData['greA'].max())

# print(gradData['cgpa'].min())
# print(gradData['cgpa'].max())

130.0
170.2127659574468
0.0
6.0
0.4
9.99

In [16]:
import math
from sklearn import neighbors, datasets
from numpy.random import permutation
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [20]:
random_indices = permutation(gradData.index)
test_cutoff = math.floor(len(gradData)/5)
# print(random_indices)
# print(test_cutoff)
test = gradData.loc[random_indices[1:test_cutoff]]
train = gradData.loc[random_indices[test_cutoff:]]
# print(len(gradData))
# print(len(test))
# print(len(train))
train_output_data = train['univName']
train_input_data = train
train_input_data = train_input_data.drop('univName',1)
test_output_data = test['univName']
test_input_data = test
test_input_data = test_input_data.drop('univName',1)

In [23]:
def euclideanDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

def knn(trainingSet, testInstance, k):
    print(k)
    distances = {}
    sort = {}
    length = testInstance.shape[1]

    for x in range(len(trainingSet)):

        dist = euclideanDistance(testInstance, trainingSet.iloc[x], length)
        
        distances[x] = dist[0]

    sorted_d = sorted(distances.items(), key=lambda x: x[1])

 
    neighbors = []

    for x in range(k):
        neighbors.append(sorted_d[x][0])

    classVotes = {}

    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1

    sortedVotes = sorted(classVotes.items(), key=lambda x: x[1], reverse=True)
 
    return(sortedVotes, neighbors)

In [27]:
testSet = [[142, 153, 5.0, 3.6]]
test = pd.DataFrame(testSet)

k = 7

result,neigh= knn(gradData, test, k)


list1 = []
list2 = []
for i in result:
    list1.append(i[0])
    list2.append(i[1])
for i in list1:
    print(i)
for i in list2:
    print(i)

7
University Of Virginia
University Of Georgia
University Of Texas, Dallas
George Washington University
University Of Wisconsin, Madison
Purdue University
2
1
1
1
1
1

In [30]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(gradData.iloc[:,0:4], gradData['univName'])

print(neigh.predict(test))

['University Of Virginia']