In [61]:
import datetime
import pandas as pd
import numpy as np
from sklearn.metrics import jaccard_score
import operator

In [43]:
dataTr = pd.read_csv('dataTr.csv')
dataTe = pd.read_csv('dataTe.csv')

In [44]:
# currently, dataTr and dataTe are the same
dataTe.columns =['Index', 'Rank', 'Name', 'City', 'State', 'PubOrPriv',
                 'UndergradPop', 'StudentPop', 'NetPrice', 'AverageGrantAid', 'TotalAnnualCost', 'AlumniSalary', 'AcceptanceRate', 'SATLower', 'SATUpper', 'ACTLower', 'ACTUpper', 'Website']
dataTr.columns =['Index', 'Rank', 'Name', 'City', 'State', 'PubOrPriv',
                 'UndergradPop', 'StudentPop', 'NetPrice', 'AverageGrantAid', 'TotalAnnualCost', 'AlumniSalary', 'AcceptanceRate', 'SATLower', 'SATUpper', 'ACTLower', 'ACTUpper', 'Website']
dataTr.head()

,Index,Rank,Name,City,State,PubOrPriv,UndergradPop,StudentPop,NetPrice,AverageGrantAid,TotalAnnualCost,AlumniSalary,AcceptanceRate,SATLower,SATUpper,ACTLower,ACTUpper,Website
0,0,1.0,Harvard University,Cambridge,MA,Private,13844.0,31120.0,14327.0,49870.0,69600.0,146800.0,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu
1,1,2.0,Stanford University,Stanford,CA,Private,8402.0,17534.0,13261.0,50134.0,69109.0,145200.0,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu
2,2,3.0,Yale University,New Haven,CT,Private,6483.0,12974.0,18627.0,50897.0,71290.0,138300.0,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu
3,3,4.0,Massachusetts Institute of Technology,Cambridge,MA,Private,4680.0,11466.0,20771.0,43248.0,67430.0,155200.0,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu
4,4,5.0,Princeton University,Princeton,NJ,Private,5659.0,8273.0,9327.0,48088.0,66150.0,139400.0,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu

In [45]:
# Size
# small: < 5,000
# medium: 5,000 - 15,000
# large: > 15,000

# Location
Northeast = ['PA', 'NY', 'NJ', 'ME', 'NH', 'VT', 'MA', 'CT', 'RI']
Midwest = ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH']
South = ['OK', 'TX', 'AR', 'LA', 'KY', 'TN', 'MS', 'AL', 'WV', 'MD', 'VA', 'DC', 'NC', 'SC', 'GA', 'AL', 'FL', 'DE']
West = ['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'AZ', 'NM', 'CO']

for index, row in dataTr.iterrows():
    size = dataTr.loc[index]['UndergradPop']
    if (size < 5000):
        dataTr.loc[index,'Size'] = 'Small'
    elif (size >= 5000 and size < 15000):
        dataTr.loc[index,'Size'] = 'Medium'
    else:
        dataTr.loc[index,'Size'] = 'Large'
    
    state = dataTr.loc[index]['State']
    if (state in Northeast):
        dataTr.loc[index,'Location'] = 'Northeast'
    elif (state in Midwest):
        dataTr.loc[index,'Location'] = 'Midwest'
    elif (state in South):
        dataTr.loc[index,'Location'] = 'South'
    else:
        dataTr.loc[index,'Location'] = 'West'
    
    satAvg = (dataTr.loc[index]['SATLower'] + dataTr.loc[index]['SATUpper'])/2
    dataTr.loc[index,'satAvg'] = satAvg

    actAvg = (dataTr.loc[index]['ACTLower'] + dataTr.loc[index]['ACTUpper'])/2
    dataTr.loc[index,'actAvg'] = actAvg

dataTr

,Index,Rank,Name,City,State,PubOrPriv,UndergradPop,StudentPop,NetPrice,AverageGrantAid,...,AcceptanceRate,SATLower,SATUpper,ACTLower,ACTUpper,Website,Size,Location,satAvg,actAvg
0,0,1.0,Harvard University,Cambridge,MA,Private,13844.0,31120.0,14327.0,49870.0,...,5.0,1460.0,1590.0,32.0,35.0,www.harvard.edu,Medium,Northeast,1525.0,33.5
1,1,2.0,Stanford University,Stanford,CA,Private,8402.0,17534.0,13261.0,50134.0,...,5.0,1390.0,1540.0,32.0,35.0,www.stanford.edu,Medium,West,1465.0,33.5
2,2,3.0,Yale University,New Haven,CT,Private,6483.0,12974.0,18627.0,50897.0,...,7.0,1460.0,1580.0,32.0,35.0,www.yale.edu,Medium,Northeast,1520.0,33.5
3,3,4.0,Massachusetts Institute of Technology,Cambridge,MA,Private,4680.0,11466.0,20771.0,43248.0,...,7.0,1490.0,1570.0,33.0,35.0,web.mit.edu,Small,Northeast,1530.0,34.0
4,4,5.0,Princeton University,Princeton,NJ,Private,5659.0,8273.0,9327.0,48088.0,...,6.0,1430.0,1570.0,31.0,35.0,www.princeton.edu,Medium,Northeast,1500.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,518,645.0,Morehouse College,Atlanta,GA,Private,2202.0,2219.0,34928.0,17318.0,...,74.0,950.0,1160.0,18.0,23.0,https://www.morehouse.edu,Small,South,1055.0,20.5
519,519,646.0,New Mexico State University,Las Cruces,NM,Public,13379.0,14432.0,8625.0,9582.0,...,64.0,910.0,1160.0,18.0,23.0,www.nmsu.edu,Medium,West,1035.0,20.5
520,520,647.0,Indiana State University,Terre Haute,IN,Public,13626.0,13763.0,13012.0,9297.0,...,85.0,900.0,1110.0,17.0,23.0,www.indstate.edu,Medium,Midwest,1005.0,20.0
521,521,648.0,Emory and Henry College,Emory,VA,Private,1094.0,1226.0,19340.0,27155.0,...,72.0,988.0,1170.0,19.0,25.0,www.ehc.edu,Small,South,1079.0,22.0
522,522,650.0,Catawba College,Salisbury,NC,Private,1336.0,1463.0,19807.0,23662.0,...,42.0,930.0,1100.0,18.0,23.0,www.catawba.edu,Small,South,1015.0,20.5

In [46]:
# print(dataTr['Size'].value_counts())
# print(dataTr['Location'].value_counts())
# print(dataTr['satAvg'].value_counts())
# print(dataTr['actAvg'].value_counts())

In [77]:
similarity = {}
dataTrDroppedCols = dataTr[['satAvg', 'actAvg']].copy()

# satAvg, actAvg jaccard sim
y_true = [1110, 30]

# jaccard_score(y_true, row)

def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return round(float(intersection) / union, 2)

for index, row in dataTrDroppedCols.iterrows():
    jacScore = jaccard(y_true, row)
    collegeName = dataTr.loc[index]['Name']
    similarity[collegeName] = jacScore
    
sorted_sim = sorted(similarity.items(),key=operator.itemgetter(1),reverse=True)

In [78]:
sorted_sim

[('Santa Clara University', 0.33),
 ('University of Florida', 0.33),
 ('University of California, San Diego', 0.33),
 ('Whitman College', 0.33),
 ('University of Miami (FL)', 0.33),
 ('Southern Methodist University', 0.33),
 ('Colorado School of Mines', 0.33),
 ('Trinity College (CT)', 0.33),
 ('Rensselaer Polytechnic Institute', 0.33),
 ('Moravian College', 0.33),
 ('Utah State University', 0.33),
 ('Texas State University', 0.33),
 ('Bowling Green State University', 0.33),
 ('Harvard University', 0.0),
 ('Stanford University', 0.0),
 ('Yale University', 0.0),
 ('Massachusetts Institute of Technology', 0.0),
 ('Princeton University', 0.0),
 ('University of Pennsylvania', 0.0),
 ('Brown University', 0.0),
 ('California Institute of Technology', 0.0),
 ('Duke University', 0.0),
 ('Dartmouth College', 0.0),
 ('Cornell University', 0.0),
 ('Pomona College', 0.0),
 ('University of California, Berkeley', 0.0),
 ('Columbia University', 0.0),
 ('Georgetown University', 0.0),
 ('University of Chicago', 0.0),
 ('Northwestern University', 0.0),
 ('University of Notre Dame', 0.0),
 ('Williams College', 0.0),
 ('University of Michigan, Ann Arbor', 0.0),
 ('Rice University', 0.0),
 ('Johns Hopkins University', 0.0),
 ('Harvey Mudd College', 0.0),
 ('Swarthmore College', 0.0),
 ('Vanderbilt University', 0.0),
 ('Amherst College', 0.0),
 ('Claremont McKenna College', 0.0),
 ('University of Southern California', 0.0),
 ('Washington University in St. Louis', 0.0),
 ('University of Virginia', 0.0),
 ('Tufts University', 0.0),
 ('New York University', 0.0),
 ('Middlebury College', 0.0),
 ('Carnegie Mellon University', 0.0),
 ('University of California, Los Angeles', 0.0),
 ('Boston College', 0.0),
 ('Washington and Lee University', 0.0),
 ('Wellesley College', 0.0),
 ('University of North Carolina, Chapel Hill', 0.0),
 ('Colgate University', 0.0),
 ('College of William and Mary', 0.0),
 ('Davidson College', 0.0),
 ('Haverford College', 0.0),
 ('Barnard College', 0.0),
 ('Carleton College', 0.0),
 ('Emory University', 0.0),
 ('Lafayette College', 0.0),
 ('Cooper Union', 0.0),
 ('Hamilton College', 0.0),
 ('Scripps College', 0.0),
 ('Vassar College', 0.0),
 ('Babson College', 0.0),
 ('University of Maryland, College Park', 0.0),
 ('University of Washington, Seattle', 0.0),
 ('Georgia Institute of Technology', 0.0),
 ('United States Merchant Marine Academy', 0.0),
 ('Lehigh University', 0.0),
 ('University of Illinois, Urbana-Champaign', 0.0),
 ('University of Wisconsin, Madison', 0.0),
 ('Kenyon College', 0.0),
 ('Villanova University', 0.0),
 ('Bucknell University', 0.0),
 ('Boston University', 0.0),
 ('Colby College', 0.0),
 ('University of Texas, Austin', 0.0),
 ('George Washington University', 0.0),
 ('Grinnell College', 0.0),
 ('University of Rochester', 0.0),
 ('University of Richmond', 0.0),
 ('University of California, Santa Barbara', 0.0),
 ('Oberlin College', 0.0),
 ('Macalester College', 0.0),
 ('University of California, Irvine', 0.0),
 ('University of California, Davis', 0.0),
 ('Brigham Young University', 0.0),
 ('Brandeis University', 0.0),
 ('Yeshiva University', 0.0),
 ('University of Minnesota, Twin Cities', 0.0),
 ('University of Georgia', 0.0),
 ('Case Western Reserve University', 0.0),
 ('Skidmore College', 0.0),
 ('Occidental College', 0.0),
 ('Texas AandM University, College Station', 0.0),
 ('Reed College', 0.0),
 ('Tulane University', 0.0),
 ('Bentley University', 0.0),
 ('Virginia Tech', 0.0),
 ('Rose-Hulman Institute of Technology', 0.0),
 ('Bryn Mawr College', 0.0),
 ('Rhode Island School of Design', 0.0),
 ('California Polytechnic State University, San Luis Obispo', 0.0),
 ('St. Olaf College', 0.0),
 ('Pennsylvania State University', 0.0),
 ('Purdue University', 0.0),
 ('Ohio State University', 0.0),
 ('Wheaton College (IL)', 0.0),
 ('Loyola Marymount University', 0.0),
 ('University of Portland', 0.0),
 ('American University', 0.0),
 ('Furman University', 0.0),
 ('Pepperdine University', 0.0),
 ('University of Connecticut', 0.0),
 ('Indiana University, Bloomington', 0.0),
 ('DePauw University', 0.0),
 ('Elon University', 0.0),
 ('Clemson University', 0.0),
 ('James Madison University', 0.0),
 ('Mount Holyoke College', 0.0),
 ('North Carolina State University, Raleigh', 0.0),
 ('University of Denver', 0.0),
 ('Fordham University', 0.0),
 ('University of San Diego', 0.0),
 ('Trinity University (TX)', 0.0),
 ('University of Pittsburgh', 0.0),
 ('Binghamton University, SUNY', 0.0),
 ('University of Colorado, Boulder', 0.0),
 ('University of Delaware', 0.0),
 ('Texas Christian University', 0.0),
 ('Rhodes College', 0.0),
 ('Florida State University', 0.0),
 ('Stevens Institute of Technology', 0.0),
 ('Denison University', 0.0),
 ('University of Massachusetts, Amherst', 0.0),
 ('Syracuse University', 0.0),
 ('Sarah Lawrence College', 0.0),
 ('St. Lawrence University', 0.0),
 ('Michigan State University', 0.0),
 ('University of Iowa', 0.0),
 ('Saint Louis University', 0.0),
 ('Seattle University', 0.0),
 ('Kalamazoo College', 0.0),
 ('University of Dayton', 0.0),
 ('Auburn University', 0.0),
 ("Saint Joseph's University (PA)", 0.0),
 ('University of Vermont', 0.0),
 ('Samford University', 0.0),
 ('Gonzaga University', 0.0),
 ('Wofford College', 0.0),
 ('Providence College', 0.0),
 ('SUNY, Stony Brook (Stony Brook University)', 0.0),
 ('George Mason University', 0.0),
 ('Chapman University', 0.0),
 ('Muhlenberg College', 0.0),
 ('Marquette University', 0.0),
 ('San Diego State University', 0.0),
 ('Northeastern University', 0.0),
 ('University of California, Santa Cruz', 0.0),
 ('Lewis and Clark College', 0.0),
 ('Miami University (OH)', 0.0),
 ('Arizona State University, Tempe', 0.0),
 ('University of Utah', 0.0),
 ('University of Oklahoma, Norman', 0.0),
 ('Hobart and William Smith Colleges', 0.0),
 ('University of Oregon', 0.0),
 ('Drake University', 0.0),
 ('Lawrence University', 0.0),
 ('Creighton University', 0.0),
 ('University at Buffalo (SUNY)', 0.0),
 ('University of Tulsa', 0.0),
 ('University of Saint Thomas (MN)', 0.0),
 ('University of California, Riverside', 0.0),
 ('Manhattan College', 0.0),
 ('University of South Carolina', 0.0),
 ('Baylor University', 0.0),
 ('University of Mary Washington', 0.0),
 ('Virginia Military Institute', 0.0),
 ('Clarkson University', 0.0),
 ('Illinois Institute of Technology', 0.0),
 ('Centre College', 0.0),
 ('University of San Francisco', 0.0),
 ('Iowa State University', 0.0),
 ('Louisiana State University', 0.0),
 ('Quinnipiac University', 0.0),
 ('Butler University', 0.0),
 ('SUNY, College of Environmental Science and Forestry', 0.0),
 ('University of Missouri, Columbia', 0.0),
 ('The Citadel', 0.0),
 ('University of Washington Bothell', 0.0),
 ('Emerson College', 0.0),
 ('Colorado State University, Fort Collins', 0.0),
 ('University of Tennessee, Knoxville', 0.0),
 ('Taylor University', 0.0),
 ('Drexel University', 0.0),
 ('University of South Florida', 0.0),
 ("St. Mary's College of Maryland", 0.0),
 ('Washington State University', 0.0),
 ('Truman State University', 0.0),
 ('Illinois Wesleyan University', 0.0),
 ('SUNY, Geneseo', 0.0),
 ('Westmont College', 0.0),
 ('Cedarville University', 0.0),
 ('University of the Pacific (CA)', 0.0),
 ('University of Nebraska, Lincoln', 0.0),
 ('University of Texas, Dallas', 0.0),
 ('University of Central Florida', 0.0),
 ('Missouri University of Science and Technology', 0.0),
 ('University of New Hampshire', 0.0),
 ('Hope College', 0.0),
 ('Loyola University Chicago', 0.0),
 ('Seton Hall University', 0.0),
 ('College of Wooster', 0.0),
 ('University of Scranton', 0.0),
 ('University of Alabama', 0.0),
 ('College of Saint Benedict', 0.0),
 ("Saint John's University (MN)", 0.0),
 ('California Lutheran University', 0.0),
 ('Embry-Riddle Aeronautical University, Prescott', 0.0),
 ('Western Washington University', 0.0),
 ('Rockhurst University', 0.0),
 ('Oregon State University', 0.0),
 ('University of Maryland, Baltimore County', 0.0),
 ('Point Loma Nazarene University', 0.0),
 ('Wheaton College (MA)', 0.0),
 ('New School', 0.0),
 ('Calvin University', 0.0),
 ('New Jersey Institute of Technology', 0.0),
 ('College of the Ozarks', 0.0),
 ('University of Arkansas', 0.0),
 ('California State University, Long Beach', 0.0),
 ('California State Polytechnic University, Pomona', 0.0),
 ('University of Redlands', 0.0),
 ('Michigan Technological University', 0.0),
 ('New College of Florida', 0.0),
 ('University of Dallas', 0.0),
 ('University of Illinois, Chicago', 0.0),
 ('Wabash College', 0.0),
 ('Massachusetts Maritime Academy', 0.0),
 ('John Carroll University', 0.0),
 ("Saint Mary's College (IN)", 0.0),
 ('Seattle Pacific University', 0.0),
 ('University at Albany, SUNY', 0.0),
 ('Messiah College', 0.0),
 ('Hofstra University', 0.0),
 ('Biola University', 0.0),
 ('Duquesne University', 0.0),
 ('San Jose State University', 0.0),
 ('Ursinus College', 0.0),
 ("Saint Mary's College of California", 0.0),
 ('Regis University', 0.0),
 ('California State University, Fullerton', 0.0),
 ('Ohio Northern University', 0.0),
 ('Bradley University', 0.0),
 ('Appalachian State University', 0.0),
 ('University of Houston', 0.0),
 ('University of Kentucky', 0.0),
 ('Presbyterian College', 0.0),
 ('Texas Tech University', 0.0),
 ('Embry-Riddle Aeronautical University, Daytona Beach', 0.0),
 ('University of Cincinnati', 0.0),
 ('Hampden-Sydney College', 0.0),
 ('Southwestern University', 0.0),
 ('Whitworth University', 0.0),
 ('Franciscan University of Steubenville', 0.0),
 ('Belmont University', 0.0),
 ('Saint Anselm College', 0.0),
 ('Towson University', 0.0),
 ('University of Evansville', 0.0),
 ('Earlham College', 0.0),
 ('College of Charleston', 0.0),
 ('Dordt University', 0.0),
 ('Xavier University', 0.0),
 ('Milwaukee School of Engineering', 0.0),
 ('Pacific Lutheran University', 0.0),
 ('Pratt Institute', 0.0),
 ('Kettering University', 0.0),
 ("St. Joseph's College (NY)", 0.0),
 ("Master's University", 0.0),
 ('SUNY Maritime College', 0.0),
 ('California State University, Chico', 0.0),
 ('University of North Carolina, Wilmington', 0.0),
 ('Rochester Institute of Technology', 0.0),
 ('Hendrix College', 0.0),
 ('Ramapo College of New Jersey', 0.0),
 ('Westminster College (UT)', 0.0),
 ('Luther College', 0.0),
 ('Virginia Commonwealth University', 0.0),
 ('St. Norbert College', 0.0),
 ('University of Wyoming', 0.0),
 ('Austin College', 0.0),
 ('University of Nevada, Reno', 0.0),
 ('Simmons College', 0.0),
 ('Allegheny College', 0.0),
 ('Bethel University', 0.0),
 ('Adelphi University', 0.0),
 ('SUNY, College at New Paltz', 0.0),
 ('Wentworth Institute of Technology', 0.0),
 ('Gordon College', 0.0),
 ('Oklahoma State University', 0.0),
 ('Millsaps College', 0.0),
 ('Georgia College and State University', 0.0),
 ('Rowan University', 0.0),
 ('John Brown University', 0.0),
 ('Florida International University', 0.0),
 ('Concordia Collegeâ\x80\x94Moorhead', 0.0),
 ('North Dakota State University', 0.0),
 ('Hanover College', 0.0),
 ('Florida Institute of Technology', 0.0),
 ('Saint John Fisher College', 0.0),
 ('University of Minnesota, Morris', 0.0),
 ('Lebanon Valley College', 0.0),
 ('University of St. Thomas (TX)', 0.0),
 ('Le Moyne College', 0.0),
 ("St. Edward's University", 0.0),
 ('University of Hawaii, Manoa', 0.0),
 ('Covenant College', 0.0),
 ('Howard University', 0.0),
 ('Union University (TN)', 0.0),
 ('Iona College', 0.0),
 ('Lipscomb University', 0.0),
 ('Carroll College', 0.0),
 ('Berry College', 0.0),
 ('Elizabethtown College', 0.0),
 ('College of St. Scholastica', 0.0),
 ('Augustana University', 0.0),
 ('Louisiana Tech University', 0.0),
 ('George Fox University', 0.0),
 ('University of North Dakota', 0.0),
 ('Pace University', 0.0),
 ('University of Mississippi', 0.0),
 ('Linfield College', 0.0),
 ('University of Northern Iowa', 0.0),
 ('New Mexico Institute of Mining and Technology', 0.0),
 ("St. John's University (NY)", 0.0),
 ('University of Massachusetts Lowell', 0.0),
 ('South Dakota School of Mines and Technology', 0.0),
 ('Nebraska Wesleyan University', 0.0),
 ('Brigham Young University-Idaho', 0.0),
 ('Valparaiso University', 0.0),
 ('Azusa Pacific University', 0.0),
 ('California State University, Fresno', 0.0),
 ('West Chester University of Pennsylvania', 0.0),
 ('Goshen College', 0.0),
 ('Maryville University of Saint Louis', 0.0),
 ('Oregon Institute of Technology', 0.0),
 ('Albion College', 0.0),
 ('University of North Florida', 0.0),
 ('San Francisco State University', 0.0),
 ('Montana State University', 0.0),
 ('High Point University', 0.0),
 ('Whittier College', 0.0),
 ('Eckerd College', 0.0),
 ('University of Louisville', 0.0),
 ('University of Tampa', 0.0),
 ('University of Idaho', 0.0),
 ('Cornell College (IA)', 0.0),
 ('Ohio University', 0.0),
 ('Abilene Christian University', 0.0),
 ('University of Minnesota, Duluth', 0.0),
 ('Stockton University', 0.0),
 ('University of Rhode Island', 0.0),
 ("Saint Mary's University of Minnesota", 0.0),
 ('McDaniel College', 0.0),
 ('North Central College', 0.0),
 ('Bellarmine University', 0.0),
 ('SUNY, College at Oneonta', 0.0),
 ('SUNY, Farmingdale State College', 0.0),
 ('University of New England', 0.0),
 ('West Virginia University', 0.0),
 ('University of La Verne', 0.0),
 ('University of Alabama, Birmingham', 0.0),
 ('Sonoma State University', 0.0),
 ('Canisius College', 0.0),
 ('Houghton College', 0.0),
 ('Hamline University', 0.0),
 ('Ouachita Baptist University', 0.0),
 ('Birmingham-Southern College', 0.0),
 ('Berea College', 0.0),
 ('Roanoke College', 0.0),
 ('University of Colorado, Denver', 0.0),
 ('Saint Vincent College', 0.0),
 ('Spelman College', 0.0),
 ('California State University, Sacramento', 0.0),
 ('South Dakota State University', 0.0),
 ('Coe College', 0.0),
 ('East Carolina University', 0.0),
 ('California State University, Northridge', 0.0),
 ('University of Alabama in Huntsville', 0.0),
 ('Mercer University', 0.0),
 ('Oklahoma City University', 0.0),
 ('Rider University', 0.0),
 ('Loyola University New Orleans', 0.0),
 ('Nova Southeastern University', 0.0),
 ('Grand Valley State University', 0.0),
 ('Florida Atlantic University', 0.0),
 ('Northwestern College (IA)', 0.0),
 ('Pacific University (OR)', 0.0),
 ('University of North Carolina, Charlotte', 0.0),
 ('Tennessee Technological University', 0.0),
 ('Ball State University', 0.0),
 ('Elmhurst College', 0.0),
 ('University of South Dakota', 0.0),
 ('University of North Carolina, Asheville', 0.0),
 ('Ashland University', 0.0),
 ('Simpson College (IA)', 0.0),
 ('University of Missouri, Saint Louis', 0.0),
 ('Florida Southern College', 0.0),
 ('California State University, Los Angeles', 0.0),
 ('California State University, San Bernardino', 0.0),
 ('University of Texas, Arlington', 0.0),
 ('Lawrence Technological University', 0.0),
 ('Mississippi College', 0.0),
 ('University of North Georgia', 0.0),
 ('Webster University', 0.0),
 ('University of North Texas', 0.0),
 ('University of Maine', 0.0),
 ('Central College', 0.0),
 ('Georgia State University', 0.0),
 ('William Jewell College', 0.0),
 ('Westminster College (PA)', 0.0),
 ('Missouri State University', 0.0),
 ('University of Nebraska, Omaha', 0.0),
 ('Florida Gulf Coast University', 0.0),
 ('Meredith College', 0.0),
 ('Carroll University', 0.0),
 ('Old Dominion University', 0.0),
 ("Mount Saint Mary's University (CA)", 0.0),
 ('Andrews University', 0.0),
 ('Otterbein University', 0.0),
 ('University of Massachusetts Boston', 0.0),
 ('Queens University of Charlotte', 0.0),
 ('Portland State University', 0.0),
 ('University of Northern Colorado', 0.0),
 ('Ripon College', 0.0),
 ('Marietta College', 0.0),
 ('Sam Houston State University', 0.0),
 ("St. Mary's University (TX)", 0.0),
 ('Central Washington University', 0.0),
 ('University of Hartford', 0.0),
 ('University of Colorado Colorado Springs', 0.0),
 ('St. Catherine University', 0.0),
 ('Fairleigh Dickinson University', 0.0),
 ('University of Nevada, Las Vegas', 0.0),
 ('Wisconsin Lutheran College', 0.0),
 ('Vanguard University', 0.0),
 ('Immaculata University', 0.0),
 ('Lycoming College', 0.0),
 ('University of Louisiana, Lafayette', 0.0),
 ('Hollins University', 0.0),
 ('Benedictine University', 0.0),
 ('University of North Carolina, Greensboro', 0.0),
 ('Hastings College', 0.0),
 ('Georgia Southern University', 0.0),
 ('Southern Illinois University Edwardsville', 0.0),
 ('Western Michigan University', 0.0),
 ('Asbury University', 0.0),
 ('Oakland University', 0.0),
 ('University of New Mexico', 0.0),
 ('Bloomsburg University of Pennsylvania', 0.0),
 ('Boise State University', 0.0),
 ('University of Texas, Rio Grande Valley', 0.0),
 ('Maryville College', 0.0),
 ('Oral Roberts University', 0.0),
 ('University of Alaska, Fairbanks', 0.0),
 ('Montana Tech of the University of Montana', 0.0),
 ('Indiana University-Purdue University, Indianapolis', 0.0),
 ('Hartwick College', 0.0),
 ('Alfred University', 0.0),
 ('Oklahoma Baptist University', 0.0),
 ('Alma College', 0.0),
 ('Saint Cloud State University', 0.0),
 ('Capital University', 0.0),
 ('Liberty University', 0.0),
 ('Converse College', 0.0),
 ('Oglethorpe University', 0.0),
 ('Central Michigan University', 0.0),
 ("Texas Woman's University", 0.0),
 ('University of Mount Union', 0.0),
 ('Clarke University', 0.0),
 ('Carthage College', 0.0),
 ('Centenary College of Louisiana', 0.0),
 ('Wichita State University', 0.0),
 ('Aurora University', 0.0),
 ('Western Kentucky University', 0.0),
 ('Wayne State University', 0.0),
 ('Western Colorado University', 0.0),
 ('Rhode Island College', 0.0),
 ('Salem College', 0.0),
 ('University of Texas, El Paso', 0.0),
 ('Sweet Briar College', 0.0),
 ('University of Toledo', 0.0),
 ('University of Montana', 0.0),
 ('University of South Alabama', 0.0),
 ('Murray State University', 0.0),
 ('Anderson University (IN)', 0.0),
 ('University of West Florida', 0.0),
 ('University of New Orleans', 0.0),
 ('Indiana University of Pennsylvania', 0.0),
 ('University of Texas at San Antonio', 0.0),
 ('Millikin University', 0.0),
 ('Cleveland State University', 0.0),
 ('Humboldt State University', 0.0),
 ('Monmouth College', 0.0),
 ('St. Francis College', 0.0),
 ('Southern Illinois University Carbondale', 0.0),
 ('Kent State University Kent Campus', 0.0),
 ('Middle Tennessee State University', 0.0),
 ('Warren Wilson College', 0.0),
 ('Northern Kentucky University', 0.0),
 ('Fort Lewis College', 0.0),
 ('Wright State University', 0.0),
 ('Hiram College', 0.0),
 ('University of Memphis', 0.0),
 ('Eastern Kentucky University', 0.0),
 ('Fisk University', 0.0),
 ('Carson-Newman University', 0.0),
 ('Morehouse College', 0.0),
 ('New Mexico State University', 0.0),
 ('Indiana State University', 0.0),
 ('Emory and Henry College', 0.0),
 ('Catawba College', 0.0)]